:root {
  --RCHeader-color: rgba(100, 0, 0, 0.95);
  --RCHeader-width: 100%;
  --RCHeader-height: 60px;
  --RCHeader-menu-spacing: 4px;
  --RCHeader-font-color: white;
}

.RCHeader {
  align-items: center;
  background-color: var(--RCHeader-color);
  display: flex;
  height: var(--RCHeader-height);
  justify-content: space-between;
  left: 0;
  position: fixed;
  text-decoration: none;
  top: 0;
  width: var(--RCHeader-width);
}

.RCHeader-logo,
.RCHeader-logo img {
  height: 50px;
  justify-content: flex-start;
  margin-left: 3px;
  width: 90px;
}

.RCHeader-menu {
  display: flex;
  flex-wrap: wrap;
  float: right;
  font-size: 1.2rem;
  list-style-type: none;
  padding-left: 5px;
}

.RCHeader-menu a {
  border-bottom: solid 2px var(--RCHeader-font-color);
  padding-bottom: 5px;
  color: var(--RCHeader-font-color);
  margin-left: var(--RCHeader-menu-spacing);
  margin-right: var(--RCHeader-menu-spacing);
  text-decoration: none;
}

.RCHeader-hero {
  animation: RCHeader-animation 4s;
  display: block;
  margin-top: var(--RCHeader-height);
  text-align: center;
}

@keyframes RCHeader-animation {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@custom-media --wide-screen (min-width: 1100px);

@media (--wide-screen) {

  .RCHeader-menu {
    font-size: 1.5rem;
  }

}
