
.RCTestimonials{
  visibility: hidden;
}

.RCTestimonials-title,
.RCTestimonials-first {
  display: block;
  visibility: visible;
}

@media (min-width: 1100px) {
  .RCTestimonials{
    text-align: center;
  }
}

