$menu-color: rgba(100, 0, 0, 0.95);
$menu-font-color: white;
$menu-font-hover-color: rgb(128, 122, 122);

$header-color: rgba(100, 0, 0, 0.95);
$header-width: 100%;
$header-height: 60px;
$header-menu-spacing: 4px;
$header-font-color: white;