#hero-element{
    animation: hero-animation 4s;
    display: block;
    margin-top: $header-height;
    text-align: center;
}

#hero-element img{
    width: $hero-image-width;
    height: $hero-image-height;
}